*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(45deg,#060202,#1d1d62);
    display:flex;
    align-items: center;
    justify-content: center;
}
.calendar{
    width: 330px;
    height:250px;
    border-radius: 9px;
    display:flex;
    align-items: center;
   background-color: rgb(252, 251, 251);
}
.left,.right{
font-size: 25px;
height:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.right{
    background-color: orangered;
    color: aliceblue;
    width: 42%;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

.left{
    width:58%;
   
}
#date{
    font-size: 70px;
    line-height: 70px;
}

#month{
    line-height: 60px;
}