*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(2, 2, 47);
}
.container{

margin:12%;
}
.in{
    width:100%;
    max-width: 380px;
    margin-top: 50px;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    background: #fff;
    color:#333;
    justify-content: space-between;
    padding: 5px 8px;
    border-radius: 5px;
}
.in img{
    width:30px;
    cursor: pointer;
}
.in input{
    outline: 0;
    border:0;
    font-size: 20px;
}
.container h1{
    color:white;
    font-size: 40px;
    font-weight: 800px;
}
.container h1 span{
    color: green;
    font-size: 29px;
    border-bottom: 4px solid green;
    padding-bottom: 10px;
   
}
.but{
outline: 0;
border: 0;
font-size: 20px;
border-radius: 4px;
padding:5px 8px;
color: white;
background-color: green;
cursor: pointer;
}